@include editor-preview-component {
    blockquote {
        padding: $space;
        margin: 0 0 $space 0;

        background: var(--blockquote-bg);
        color: var(--blockquote-font-color);
        font-style: italic;
        line-height: $line-height-l;

        border-radius: $border-radius-default;
        border-width: 1px;
        border-color: var(--color-transparent);
    }
}

@include editor-live-preview-component {
    &.is-live-preview .HyperMD-quote {
        padding: $space;
        background-color: var(--blockquote-bg);
        border-left-color: var(--blockquote-border-color);
        
        .cm-quote {
            color: var(--blockquote-font-color);
            font-style: italic;
        }
    }
}