@include editor-preview-component {
    blockquote {
        padding: $space;
        margin: 0 0 $space 0;

        background: var(--background-primary-alt);
        color: var(--text-code);
        font-style: italic;
        line-height: $line-height-l;

        border-radius: $border-radius-default;
        border-width: 1px;
    }
}

@include editor-live-preview-component {
    &.is-live-preview .HyperMD-quote {
        padding: $space;
        background-color: var(--background-primary-alt);
        border-left-color: var(--blockquote-border-color);
        
        .cm-quote {
            color: var(--text-code);
            font-style: italic;
        }
    }
}