@mixin h1Style {
    font-weight: $font-weight-black;
    line-height: $line-height-s;
}

@mixin h2Style {
    @include h1Style;

    font-weight: $font-weight-bold;
}

@mixin h3Style {
    font-weight: $font-weight-bold;
}

@mixin h4Style {
    @include h3Style;
}

@mixin h5Style {
    font-weight: $font-weight-medium;
}

@mixin h6Style {
    @include h5Style;

    color: var(--text-normal);
    font-weight: $font-weight-normal;
}

@include editor-preview-component {
    h1 {
        @include h1Style;
    }

    h2 {
        @include h2Style;
    }

    h3 {
        @include h3Style;
    }

    h4 {
        @include h4Style;
    }

    h5 {
        @include h5Style;
    }

    h6 {
        @include h6Style;
    }
}

@include editor-live-preview-component {
    .cm-header-1 {
        @include h1Style;
    }
    
    .cm-header-2 {
        @include h2Style;
    }

    .cm-header-3 {
        @include h3Style;
    }

    .cm-header-4 {
        @include h4Style;
    }

    .cm-header-5 {
        @include h5Style;
    }

    .cm-header-6 {
        @include h6Style;
    }
}
