@include editor-preview-component {
    $border-radius: $border-radius-l;

    .markdown-embed {
        border: 1px solid var(--markdown-embed-border-color);
        padding: 0;
        transition: transition(box-shadow);
        border-radius: $border-radius;

        .markdown-embed-content {
            &::-webkit-scrollbar,
            &::-webkit-scrollbar-thumb {
                border-radius: 0 $border-radius $border-radius 0;
            }

            &::-webkit-scrollbar {
                background: linear-gradient(
                    to bottom,
                    var(--background-secondary) 0%,
                    var(--background-secondary) 100%
                );
            }
        }

        .markdown-preview-view {
            padding: $space-s $space-l;
            border-radius: $border-radius;
        }

        .markdown-embed-link {
            top: $space-s;
            left: $space-s;
            right: unset;
        }
    }
}

@include editor-live-preview-component {
    $border-radius: $border-radius-l;

    // Hide border in live preview because the toggle arrows are get displaced,
    // when I try to vertically space out the elements.
    // When I hide the border it doesn't look as bad.
    .markdown-embed {
        padding: 0 $space-s 0 $space-l;
        border: 1px solid var(--markdown-embed-border-color);

        .markdown-preview-view {
            padding-right: 40px;
            line-height: 2;
            padding: 0;

            .markdown-preview-sizer {
                min-height: 0px !important;
            }
        }

        .markdown-embed-link {
            top: $space-s;
            left: $space-s;
            right: unset;
        }

        // Correct vertical position for checkboxes in embedded markdown
        .task-list-item-checkbox {
            top: -1px;
        }
    }
}
