:root {
    --color-black: #0F110C;
    --color-white: #FFFAF0;

    // Gray
    --color-gray-0: #F5F5F5;
    --color-gray-1: #CCCCCC;
    --color-gray-2: #B8B8B8;
    --color-gray-3: #ADADAD;
    --color-gray-4: #8F8F8F;
    --color-gray-5: #777777;
    --color-gray-6: #666666;
    --color-gray-7: #525252;
    --color-gray-8: #3D3D3D;
    --color-gray-9: #1F1F1F;
    --color-gray-10: #141414;
    
    // Pink
    --color-pink-0: #FDEDEC;
    --color-pink-1: #FAC8C7;
    --color-pink-2: #F58B89;
    --color-pink-3: #F26B69;
    --color-pink-4: #EF4643;
    --color-pink-5: #EB211E;
    --color-pink-6: #CE1512;
    --color-pink-7: #A9110F;
    --color-pink-8: #830D0B;
    --color-pink-9: #5E0A08;

    // Orange
    --color-orange-0: #FFEAC2;
    --color-orange-1: #FFDB99;
    --color-orange-2: #FFCD70;
    --color-orange-3: #FFBF47;
    --color-orange-4: #FFB833;
    --color-orange-5: #FFA500;
    --color-orange-6: #F59F00;
    --color-orange-7: #E09200;
    --color-orange-8: #CC5800;
    --color-orange-9: #B87700;

    // Beige
    --color-beige-0: #FCF7ED;
    --color-beige-1: #F7E7CE;
    --color-beige-2: #F4DDB5;
    --color-beige-3: #EECC96;
    --color-beige-4: #EBC484;
    --color-beige-5: #E8BB73;
    --color-beige-6: #E5B361;
    --color-beige-7: #E2AA50;
    --color-beige-8: #E0A23E;
    --color-beige-9: #DD992C;

    // Blue
    --color-blue-0: #F0F7F9;
    --color-blue-1: #C6E2E9;
    --color-blue-2: #B6D9E2;
    --color-blue-3: #98CAD7;
    --color-blue-4: #7BBBCC;
    --color-blue-5: #5DACC0;
    --color-blue-6: #459BB0;
    --color-blue-7: #398193;
    --color-blue-8: #2E6776;
    --color-blue-9: #224D58;

    // Green
    --color-green-0: #EBFFF8;
    --color-green-1: #C2FFEB;
    --color-green-2: #99FFBB;
    --color-green-3: #70FFCF;
    --color-green-4: #47FFC2;
    --color-green-5: #1FFFB4;
    --color-green-6: #00F5A3;
    --color-green-7: #00CC88;
    --color-green-8: #009F6B;
    --color-green-9: #007A52;

    // Red
    --color-red-0: #FCEEED;
    --color-red-1: #F7CDCA;
    --color-red-2: #F2ABA6;
    --color-red-3: #EC8A83;
    --color-red-4: #E7685F;
    --color-red-5: #E03C31;
    --color-red-6: #D52C20;
    --color-red-7: #B1251B;
    --color-red-8: #8E1D15;
    --color-red-9: #6A1610;

    // Yellow
    --color-yellow-0: #FFFED6;
    --color-yellow-1: #FFFCAD;
    --color-yellow-2: #FFFB85;
    --color-yellow-3: #FFFA5C;
    --color-yellow-4: #FFF833;
    --color-yellow-5: #FFF700;
    --color-yellow-6: #E0D900;
    --color-yellow-7: #B8B100;
    --color-yellow-8: #8F8A00;
    --color-yellow-9: #666300;
}