.theme-dark {
    --background-primary: var(--color-gray-10);
    --background-primary-alt: var(--color-gray-9);
    --background-secondary: var(--color-gray-9);
    --background-secondary-alt: var(--color-black);
    --background-modifier-border: var(--color-gray-5);
    --background-modifier-cover: rgba(255, 255, 255, 0.05);
    --text-accent: var(--color-pink-3);
    --text-accent-light: var(--color-pink-2);
    --text-accent-hover: var(--text-accent);
    --text-normal: var(--color-gray-0);
    --text-code: var(--color-gray-0);
    --text-faint: var(--text-code);
    --text-muted: var(--color-gray-2);
    --text-muted-rgb: 119, 119, 119;
    --text-selection: rgba(245, 139, 137, 0.4);
    --text-on-accent: var(--color-white);
    --text-highlight-bg: rgba(245, 139, 137, 0.8);
    --interactive-accent: var(--text-accent-light);
    --interactive-accent-hover: var(--text-accent);
    --scrollbar-active-thumb-bg: var(--text-accent-light);
    --scrollbar-bg: var(--background-primary-alt);
    --scrollbar-thumb-bg: var(--color-pink-3);
    --color-topic-tag: var(--text-normal);
    --color-topic-tag-bg: var(--color-orange-5);
    --cursor-bg: var(--color-white);
    --active-line-bg: rgba(245, 139, 137, 0.05);
    --file-embed-border-color: var(--scrollbar-active-thumb-bg);
    --file-embed-color: var(--text-code);
    --file-embed-hover-color: var(--text-muted);
    --blockquote-bg: var(--color-gray-8);
    --blockquote-font-color: var(--text-normal);
    --blockquote-border-color: var(--color-pink-1);
    --text-footnote: var(--color-gray-1);
    --text-indented-color: var(--color-blue-3);
    --backticks-text-color: var(--text-indented-color);
    --backticks-bg: var(--color-gray-8);
    --calendar-title: var(--text-code);

    --color-transparent: rgba(255, 255, 255, 0);
    --color-border: rgba(0, 0, 0, 0.2);
}
