.theme-light {
    --background-primary: var(--color-white);
    --background-primary-alt: var(--color-beige-1);
    --background-secondary: var(--color-beige-0);
    --background-secondary-alt: var(--color-beige-1);
    --background-modifier-border: var(--color-beige-1);
    --background-modifier-form-field: var(--color-beige-0);
    --background-modifier-form-field-highlighted: var(--color-beige-0);
    --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
    --background-modifier-success: var(--color-green-4);
    --background-modifier-error: var(--color-red-4);
    --background-modifier-error-rgb: 231, 104, 95;
    --background-modifier-error-hover: var(--color-red-4);
    --background-modifier-cover: rbga(0, 0, 0, 0.1);
    --text-accent: var(--color-pink-5);
    --text-accent-light: var(--color-pink-3);
    --text-accent-hover: var(--text-accent-light);
    --text-normal: var(--color-black);
    --text-code: var(--color-gray-7);
    --text-muted: var(--color-gray-4);
    --text-muted-rgb: 143, 143, 143;
    --text-faint: var(--color-gray-4);
    --text-bright: var(--color-white);
    --text-error: var(--color-red-6);
    --text-error-hover: var(--color-red-7);
    --text-highlight-bg: rgba(245, 139, 137, 0.2);
    --text-highlight-bg-active: rgba(245, 139, 137, 0.05);
    --text-selection: rgba(245, 139, 137, 0.1);
    --text-on-accent: var(--color-white);
    --interactive-normal: var(--color-gray-0);
    --interactive-hover: var(--color-gray-3);
    --interactive-accent: var(--color-pink-2);
    --interactive-accent-rgba: 152, 202, 215;
    --interactive-accent-hover: var(--color-pink-3);
    --interactive-success: var(--color-green-5);
    --scrollbar-active-thumb-bg: var(--text-accent);
    --scrollbar-bg: var(--background-primary);
    --scrollbar-thumb-bg: var(--background-primary-alt);
    --highlight-mix-blend-mode: normal;
    --color-topic-tag-bg: rgba(152, 202, 215, 0.1);
    --cursor-bg: var(--color-pink-3);
    --active-line-bg: rgba(var(--text-muted-rgb), 0.25);
    --file-embed-border-color: var(--color-beige-4);
    --file-embed-color: var(--color-gray-2);
    --file-embed-hover-color: var(--color-gray-4);
    --blockquote-border-color: var(--color-beige-3);

    --color-transparent: rgba(255, 255, 255, 0);
    --color-border: rgba(0, 0, 0, 0.2);
}