@include ui-component {
    [data-type="file-explorer"] {
        $border-width: 5px;

        .nav-files-container {

            .nav-folder-title,
            .nav-file-title {
                @include wrap-title-and-folder-names();

                border-left: border($border-width, transparent);
                transition: transition(background-color), transition(border-left),
                    transition(color, $transition-speed-slow);
                margin-bottom: 0.25rem;

                .nav-file {
                    &-title {
                        &.is-active {
                            border-left: border($border-width, var(--interactive-accent));
                        }
                    }
                }
            }
        }
    }

    .nav-files-container {
        .nav-folder-children {
            .nav-file.has-focus {
                .nav-file-title.is-active {
                    background-color: var(--text-accent);
                }
            }
        }
    }
}