@include ui-component {
    .frontmatter {
        &-container {
            background-color: var(--background-secondary);
            border-radius: $border-radius-m;
            padding: $space-l $space;
        }

        code[class*="language-"] {
            padding: initial;
        }
    }
}