@include ui-component {
    $size-tab-header: 35px;
    $size-svg-icon: 15px;

    .workspace-tabs .workspace-tab-header-container {
        display: flex;
        height: 30px;
        padding-top: 2px;
        flex: 0 0 auto;
    }

    .workspace-tab-container-inner {
        border-radius: $border-radius-default;
        flex-wrap: wrap;
    }

    .workspace-tab-header-inner {
        width: $size-tab-header;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .workspace-tab-header-inner-icon {
        display: flex;
        align-items: center;
    }

    .workspace-tab-header {
        color: var(--text-muted);
        cursor: pointer;

        svg {
            width: $size-svg-icon;
            height: $size-svg-icon;
        }

        &.is-active {
            svg {
                color: var(--text-muted);
            }

            &:hover {
                svg {
                    color: var(--interactive-accent-hover);
                }
            }
        }

        &:not(.is-active):hover {
            color: var(--interactive-accent-hover);
        }
    }

    .workspace-tab-header.is-after-active,
    .workspace-tab-header.is-after-active .workspace-tab-header-inner,
    .workspace-tab-header.is-before-active,
    .workspace-tab-header.is-before-active .workspace-tab-header-inner {
        background-color: transparent;
        box-shadow: none;
        border-radius: $border-radius-m;
    }

    .workspace-tab-container-after,
    .workspace-tab-container-before,
    .workspace-tab-container-after.is-after-active,
    .workspace-tab-container-before.is-before-active {
        display: none;
    }
}
